<video id='video'></video>
<canvas id='canvas'></canvas>
<button id='capture'>Capturar</button>
<img id="resultImg">
<ul id="resultList"></ul>
<script>
    const resultList = document.getElementById("resultList");
    const resultImg = document.getElementById("resultImg");
    navigator.mediaDevices.getUserMedia({ video: true }).then(function (mediaStream) {
        const video = document.querySelector('#video');
        video.srcObject = mediaStream;
        video.play();
    });

    document.querySelector('#capture').addEventListener('click', async function (e) {
        var canvas = document.querySelector("#canvas");
        canvas.height = video.videoHeight;
        canvas.width = video.videoWidth;
        var context = canvas.getContext('2d');
        context.drawImage(video, 0, 0)
        const canvasDataURL = canvas.toDataURL("image/png");
        // Convert data URL to Blob
        const byteString = atob(canvasDataURL.split(',')[1]);
        const mimeString = canvasDataURL.split(',')[0].split(':')[1].split(';')[0];
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        const blob = new Blob([ab], { type: mimeString });
        const file = new File([blob], "canvas.png", { type: mimeString, lastModified: new Date().getTime() });

        // Add file to FormData
        let formdata = new FormData();
        formdata.append("image", file);

        resultList.replaceChildren();

        try {
            const response = await fetch(`http://{{ api_host }}/evaluate/segment`, {
                method: "POST",
                body: formdata
            });

            const res = await response.json();
            const evaluation = res["result"];
            for (const result of evaluation) {
                const predictionResult = document.createElement("li");
                predictionResult.textContent = "Prediction: " + result['name'];
                const confidence = document.createElement("li");
                confidence.textContent = "Confidence: " + (result['confidence'] * 100).toFixed(2) + "%";
                resultList.appendChild(predictionResult);
                resultList.appendChild(confidence);
            }
            resultImg.src = "data:image/jpg;base64," + res['image'];
        } catch (error) {
            console.error('Error:', error);
        }
    })
</script>